<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_ICalculator">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/williamsqueue"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ICalculator"
                contract="ServiceProxies.ICalculator" name="NetMsmqBinding_ICalculator" />
        </client>
    </system.serviceModel>
</configuration>