@model GreetMVCApp.Models.GreetOutput

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>GreetOutput</title>
</head>
<body>
    <div>
        @Model.GreetMessage
    </div>
</body>
</html>
