@model GreetMVCApp.Models.NameInput
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Greet</title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
    <body>
        @using (Html.BeginForm())
        {
            <div>
                First Name : @Html.TextBoxFor(m => m.FirstName)     
                <span>@Html.ValidationMessageFor(m=> m.FirstName)</span>   
            </div>
            <div>
                Last Name : @Html.TextBoxFor(m => m.LastName)
                <span>@Html.ValidationMessageFor(m=> m.LastName)</span>   
            </div>
            <input type="submit" name="greet" value="Greet"/>
        }
    </body>
</html>
