<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Error,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceLogListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\Training\WilliamsLea\Day-6\WPFIntroduction\WCFIntroduction\WilliamLeaServicesHost\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceLogListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaDataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9090/Metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="testBinding" useActiveDirectory="false">
          <security mode="None">
            <transport msmqAuthenticationMode="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="WilliamLeaServicesHost.Calculator" behaviorConfiguration="metaDataBehavior">
        <endpoint binding="netMsmqBinding"
                  bindingConfiguration="testBinding"
                  contract="WilliamLeaServicesHost.ICalculator"
                  address="net.msmq://localhost/private/williamsqueue"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>