<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaDataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9090/Metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="testBinding" useActiveDirectory="false">
          <security mode="None">
            <transport msmqAuthenticationMode="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="WilliamLeaServicesHost.Calculator" behaviorConfiguration="metaDataBehavior">
        <endpoint binding="netMsmqBinding"
                  bindingConfiguration="testBinding"
                  contract="WilliamLeaServicesHost.ICalculator"
                  address="net.msmq://localhost/private/williamsqueue"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>